@model List<Semester_Project.Models.Research>
@{
    ViewBag.Title = "APeople";
}

<div class="row">
        <div class="col-lg-9 col-lg-offset-1">
            <h2>Admin side/Research</h2>
        </div>
 </div>
<div class="row">
        <div class="col-lg-9 col-lg-offset-1">
            <div class="panel panel-primary" >
              <!-- Default panel contents -->
              <div class="panel-heading" style="height:60px"><b>List of all Researches in Lab</b>
                  <button class="btn btn-default pull-right"><a href="/AdminResearch/AddResearch">Add New</a></button>
              </div>
              <table class="table">
                    <tr>
                        <td>
                           <b>Id</b>
                        </td>
                        <td>
                           <b>Title</b>
                        </td>
                        <td>
                           <b>Summery</b>
                        </td>
                        <td>
                            <b>Update</b>
                        </td>
                        <td>
                            <b>Delete</b>
                        </td>
                    </tr>
                  @{
                      int i=0;
                       foreach (var p in Model)
                       {
                            <tr>
                                <td>
                                    @p.Id
                                </td>
                                <td>
                                    @p.Title
                                </td>      
                                <td>
                                    @p.Summery
                                </td>
                                <td>
                                    @*<a href="/AdminPeople/UpdatePerson/@p.Id">Update</a>*@
                                    @*<a href="@Html.ActionLink(linkText:"reply",actionName: "UpdatePerson",controllerName: "AdminPeople",routeValues: new { id=p.Id },htmlAttributes: null)">Update</a>*@
                                    <a href="@Url.Action(controllerName: "AdminResearch",actionName: "UpdateResearch",routeValues: new { id1=p.Id })">Update</a>
                                </td>
                               <td>
                                    <a href="@Url.Action(controllerName: "AdminResearch",actionName: "Delete",routeValues: new { id1=p.Id })">Delete</a>
                                </td>
                            </tr>
                           i++;
                       }
                   }
                      </table>
            </div>

        </div>
 </div>           